<% provide(:title, "Talents") %>

  <div class ="container">
    <div class="row talent-tree">
      <div class="col-md-12">
        <div class="title">
          <h2><span>Rechercher une personne de talent</span></h2>
        </div>
        <%= render 'shared/search_form' %>
      </div>
    </div>

    <div class="row">
        <div class="col-md-12 talents-result text-center">
          <% if @result && @search %>
            <h3><%= pluralize( @result, @tree_name)  %> à <%= @address %></h3>
          <% else %>
            <% if @users.size == User.count %>
              <h3>Personnes de talents - partout</h3>
            <% end %>
          <% end %>

        </div>
      </div>

    <div class="row talent-tree">
      <% if @users.present? %>
        <% @users.each do |user| %>
          <div class="col-xs-12 col-sm-6 col-md-3 text-center" >
              <div class="card-index">
                <%= link_to user_path(user) do %>
                  <div class="card-profile">
                    <div class="card-profile-level">
                    </div>
                    <div class="card-profile-avatar">
                      <%= cl_image_tag user.photo.path,  width: 173, height: 173, radius: "max", crop: "fill"%>
                    </div>
                    <div class="card-body text-center">
                      <p class="card-title"><%= user.first_name %> <%= user.last_name %></p>
                      <p class="card-contributors"><%= user.address %></p>
                    </div>
                  </div>
                <% end %>
                <% @trees.each do |tree| %>
                 <% if  user.skills.where(tree: tree).count > 0 %>
                  <div class="card-skill" style="background-color: <%= tree.color %>">
                    <div><%= tree.name %></div>
                    <div><%= user.skills.where(tree: tree, level: nil).count%></div>
                  </div>
                 <% end %>
                <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
