<div class="limiter-profil-size">
<div class="col-one">

<div class="card-avatar">
    <div class="card-avatar-image">
      <img src="http://www.croop.cl/UI/twitter/images/carl.jpg" alt="avatar" class="img-circle">
            </div>
            <div class="card-avatar-name">
            <p> Maxime Boué </p>
            </div>
            <div class="card-avatar-name-description">
            <p> Etudiant au wagon </p>
            </div>
            </div>

  <div class="card-avatar-rang">
            <div class="card-rang">
            <p> RANGS ATTEINTS </p>
            </div>
            <div class="card-rang-image">
            <%= image_tag "emptyrang.png" %>
            <%= image_tag "emptyrang.png" %>
            <%= image_tag "emptyrang.png" %>
            <%= image_tag "emptyrang.png" %>
            <%= image_tag "emptyrang.png" %>
            <%= image_tag "emptyrang.png" %>
            <%= image_tag "emptyrang.png" %>
            <%= image_tag "emptyrang.png" %>
            <%= image_tag "emptyrang.png" %>
            <%= image_tag "emptyrang.png" %>
            <%= image_tag "emptyrang.png" %>
            <%= image_tag "emptyrang.png" %>
            </div>
  </div>


<div class="card-avatar-rang">
            <div class="card-rang">
            <p> OBJECTIFS ACCOMPLIS </p>
            </div>
            <div class="card-rang-image">
            <%= image_tag "logo_faved_bnwgrey.png" %>
            <%= image_tag "logo_faved_bnwgrey.png" %>
            <%= image_tag "logo_faved_bnwgrey.png" %>
            <%= image_tag "logo_faved_bnwgrey.png" %>
            <%= image_tag "logo_faved_bnwgrey.png" %>
            <%= image_tag "logo_faved_bnwgrey.png" %>
            <%= image_tag "logo_faved_bnwgrey.png" %>
            <%= image_tag "logo_faved_bnwgrey.png" %>
            <%= image_tag "logo_faved_bnwgrey.png" %>
            <%= image_tag "logo_faved_bnwgrey.png" %>
            <%= image_tag "logo_faved_bnwgrey.png" %>
            <%= image_tag "logo_faved_bnwgreylight.png" %>
            </div>
</div>


</div>



<div class="col-two">
  <div class="talents-tile">
    <h1> TALENTS </h1>
  </div>
  <%= render "skills/skill_design" %>
</div>



<div class="col-three">
    <div class="talents-tile">
       <h1> SOME TEXT</h1>
       <%= render "skills/skill_design" %>
    </div>
</div>


<div class="clear"></div>

</div>

<!-- <div class="container">
  <div class="limiter-profil-size">
    <div class="profil">
      <div class="container">
        <div class="row">
        <div class="col-md-4 col-xs-12">
          <div class="card-avatar">
            <div class="card-avatar-image">
              <img src="http://www.croop.cl/UI/twitter/images/carl.jpg" alt="avatar" class="img-circle">
            </div>
            <div class="card-avatar-name">
            <p> Maxime Boué </p>
            </div>
            <div class="card-avatar-name-description">
            <p> Etudiant au wagon </p>
            </div>



      </div>

      <div class="container">
        <div class="row">
          <div class="card-avatar-rang">
            <div class="card-rang">
            <p> RANGS ATTEINTS </p>
            </div>
            <div class="card-rang-image">
            <%= image_tag "emptyrang.png" %>
            <%= image_tag "emptyrang.png" %>
            <%= image_tag "emptyrang.png" %>
            <%= image_tag "emptyrang.png" %>
            <%= image_tag "emptyrang.png" %>
            <%= image_tag "emptyrang.png" %>
            <%= image_tag "emptyrang.png" %>
            <%= image_tag "emptyrang.png" %>
            <%= image_tag "emptyrang.png" %>
            <%= image_tag "emptyrang.png" %>
            <%= image_tag "emptyrang.png" %>
            <%= image_tag "emptyrang.png" %>
            </div>
            </div>
          </div>
        </div>

        <div class="container">
        <div class="row">
          <div class="card-avatar-rang">
            <div class="card-rang">
            <p> OBJECTIFS ACCOMPLIS </p>
            </div>
            <div class="card-rang-image">
            <%= image_tag "logo_faved_bnwgrey.png" %>
            <%= image_tag "logo_faved_bnwgrey.png" %>
            <%= image_tag "logo_faved_bnwgrey.png" %>
            <%= image_tag "logo_faved_bnwgrey.png" %>
            <%= image_tag "logo_faved_bnwgrey.png" %>
            <%= image_tag "logo_faved_bnwgrey.png" %>
            <%= image_tag "logo_faved_bnwgrey.png" %>
            <%= image_tag "logo_faved_bnwgrey.png" %>
            <%= image_tag "logo_faved_bnwgrey.png" %>
            <%= image_tag "logo_faved_bnwgrey.png" %>
            <%= image_tag "logo_faved_bnwgrey.png" %>
            <%= image_tag "logo_faved_bnwgreylight.png" %>
            </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
    <%= render "skills/skill_design" %>
    </div>
  <div class="col-md-4 col-xs-12"> <%= render "skills/skill_design" %></div>
  </div>
  </div>
</div>
</div> -->
<!-- <div class="container">
    <header>
      <div class="bio">
        <img src="http://www.croop.cl/UI/twitter/images/up.jpg" alt="background" class="bg">
        <div class="desc">
          <h3>@carlf</h3>
          <p>Carl Fredricksen is the protagonist in Up. He also appeared in Dug's Special Mission as a minor character.</p>
        </div>
      </div>

      <div class="avatarcontainer">
        <img src="http://www.croop.cl/UI/twitter/images/carl.jpg" alt="avatar" class="avatar">
        <div class="hover">
            <div class="icon-twitter"></div>
        </div>
      </div>


    </header>

    <div class="content">
      <div class="data">
        <ul>
          <li>
            2,934
            <span>Tweets</span>
          </li>
          <li>
            1,119
            <span>Followers</span>
          </li>
          <li>
            530
            <span>Following</span>
          </li>
        </ul>
      </div>

      <div class="follow"> <div class="icon-twitter"></div> Follow</div>
    </div>

  </div>

</body>
</html>
 -->
