
<div class="limiter-profil-size">
  <div class="col-one">
    <div class="card-avatar">
        <div class="card-avatar-image">
          <%= cl_image_tag @user.photo.path,  width: 173, height: 173, radius: "max", crop: "fill"%>
        </div>
        <div class="card-avatar-name">
          <p><%= @user.first_name %> <%= @user.last_name %></p>
        </div>
        <div class="card-avatar-name-description">
          <p> Etudiant au wagon </p>
        </div>
    </div>
    <div class="card-avatar-rang">
      <div class="card-rang">
        <p> RANGS ATTEINTS </p>
      </div>
      <div class="card-rang-image">
      <%= image_tag "rang_masterweb1" %>
      <%= image_tag "rang_ecology" %>


      </div>
    </div>
    <div class="card-avatar-rang">
      <div class="card-rang">
        <p> OBJECTIFS ACCOMPLIS </p>
      </div>
      <div class="card-rang-image">
        <%= image_tag "objectif_1" %>
        <%= image_tag "Objectif02" %>
        <%= image_tag "Objectif03" %>
        <%= image_tag "Objectif04" %>
        <%= image_tag "Objectif05" %>
        <%= image_tag "Add_Objectif" %>

      </div>
    </div>
  </div>

  <div class="col-two">
    <div class="talents-tile">
      <h1> TALENTS </h1>
    </div>
    <%= render "skills/skill_design" %>
  </div>

  <div class="col-three">
      <div class="talents-tile">
         <h1> SOME TEXT</h1>
         <%= render "skills/skill_design" %>
      </div>
  </div>

  <div class="clear"></div>

</div>

