<div class="container">
  <div class="user-flex-box">
    <div class="user-column-1">
        <div class="card-avatar">
          <div class="card-avatar-content">
            <div class="card-avatar-image">
              <%= cl_image_tag @user.photo.path,  width: 128, height: 128, radius: "max", crop: "fill"%>
            </div>
            <div class="card-avatar-name">
              <p><%= @user.first_name.downcase %> <%= @user.last_name.downcase %></p>
            </div>
            <div class="card-avatar-name-description">
              <p> Etudiant au wagon </p>
            </div>
          </div>
        </div>
        <div class="card-avatar-contact text-center">
         <div class ="btn btn-block">
             <%= link_to "Contacter #{@user.first_name}", @user_path, class: "btn-addtree-text" %>
         </div>
        </div>
        <div class="card-avatar-rang">
          <div class="card-rang text-center">
            <p> RANGS ATTEINTS </p>
          </div>
          <div class="card-rang-image">
            <div class="row">
                <% @user.skills.where(level: true).each do |skill| %>
                  <div class="col-xs-6 text-center">
                    <%= skill_badge_display(skill) %>
                  </div>
                <% end %>
            </div>
          </div>
        </div>
  </div>
  <div class ="container">

    <div class="row">
      <div class="col-xs-12">
        <div class="talents-plus-addskill">
          <div class="talents-tile">
              <h1>TALENTS</h1>
          </div>
          <div id="button-show-add-tree">
            <div class ="btn btn-block">
                <%= link_to "+ Ajouter un nouvel arbre", trees_path, class: "btn-addtree-text" %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <% @user.trees.each do |tree| %>
        <div class="col-xs-6">
          <%= link_to tree do %>
            <div class="leaf" id="user-tree-capsule">
              <div class="skill-component">
                <div class="skill-name">
                  <h4 class="tree-title"><%= tree.name%></h4>
                </div>
                <div class="skill-badge" style="background-color: <%= tree.color %>">
                  <div class="badge-content-titre">
                    <%= @user.skills.where(tree: tree, level: nil).count %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>


