<% if skill.level %>
  <div class="skill-rank">
    <div class="skill-rank-content text-center">
      <%= skill_badge_display_tree(skill, user) %>
      <h4 class="rank-type"><%= skill.action %></h4>
      <h4 class="rank-title"><%= skill.name %></h4>
    </div>
  </div>
<% else %>
 <div class="skill-component" data-toggle="modal" data-target="#myModal<%= skill.id %>">
    <div class="skill-name">
      <h4 class="tree-type"><%= skill.action %></h4>
      <h4 class="tree-title"><%= skill.name %></h4>
    </div>

    <% if user.has_tree(@tree) %>  <!-- si on a le tree -->
      <div class="skill-badge tree-opened">

        <div class="badge-content-titre">
          <div class="skill-badge skill-count" style="background-color: <%= @tree.color %>">
            <%= user.skills.where(tree: @tree, level: nil).count %>
          </div>
        </div>
        <!-- Action de cocher les skills si le Tree est possédé par le current user -->
        <% if user.user_skills.where(skill: skill).exists? %> <!-- si on a le skill -->
          <% if user == current_user %>
            <%= link_to add_skill_path(user, skill), method: :delete, remote: true, class: "badge-content" do %>
              <div class="badge-content" %>
                <i class="fa fa-check checked"></i> <!-- on affiche la coche verte -->
              </div>
            <% end %>
          <% else %>
            <div class="badge-content" %>
              <i class="fa fa-check checked"></i> <!-- on affiche la coche verte -->
            </div>
          <% end %>
        <% else %>
          <% if user == current_user %>
            <%= link_to remove_skill_path(user, skill), method: :post, remote: true, class: "badge-content"  do %>
              <i class="fa fa-check unchecked"></i> <!-- on affiche la coche gris -->
            <% end %>
          <% else %>
            <i class="fa fa-check unchecked"></i>
          <% end %>
        <% end %>

      </div>

    <% else %> <!-- IF user is not logged or doesn't have the tree -->
      <div class="skill-badge tree-closed">
        <%= link_to tree_user_trees_path(@tree), method: :post, class: "badge-content-titre" do %>
          <i class="fa fa-plus"></i>
        <% end %>
        <%= link_to tree_user_trees_path(@tree), method: :post, class: "badge-content-skill" do %>
          <a href="#"><i class="fa fa-check unchecked"></i></a> <!-- on affiche la coche gris -->
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
