<% if skill.level %>
  <div class="skill-rank">
      <div class="skill-rank-content text-center  <%= 'bg-black' if @user_has_tree && current_user.user_skills.where(skill: skill).exists?  %> ">
          <div class="skill-badge" style="background-color: <%= skill.tree.color %>">
            <% if skill.photo  %>
            <%= cl_image_tag skill.photo.path, class: "skill-level-image" %>
            <% else %>
            <%= cl_image_tag 'http://res.cloudinary.com/doodlid/image/upload/v1503591908/Save%20images/objectif_1_aicmwu.png', class: "skill-level-image-default" %>
            <% end %>
          </div>
          <h4 class="rank-type"><%= skill.action %></h4>
          <h4 class="rank-title"><%= skill.name %></h4>
      </div>
  </div>
<% else %>
  <div class="skill-component">
    <div class="skill-name">
      <h4 class="tree-type"><%= skill.action %></h4>
      <h4 class="tree-title"><%= skill.name %></h4>
    </div>

    <% if @user_has_tree %>  <!-- si on a le tree -->
      <div class="skill-badge tree-opened">
        <div class="badge-content-titre">
          <div class="skill-badge skill-count" style="background-color: <%= @tree.color %>">
            <%= current_user.skills.where(tree: @tree, level: nil).count %>
          </div>
        </div>
        <!-- Action de cocher les skills si le Tree est possédé par le current user -->
        <% if current_user.user_skills.where(skill: skill).exists? %> <!-- si on a le skill -->
          <%= link_to user_skill_path(current_user.user_skills.where(skill: skill).first), method: :delete, remote: true, class: "badge-content"  do %>
            <div class="badge-content" %>
              <i class="fa fa-check checked"></i> <!-- on affiche la coche verte -->
            </div>
          <% end %>
        <% else %>
          <%= link_to skill_user_skills_path(skill), method: :post, remote: true, class: "badge-content"  do %>
            <i class="fa fa-check unchecked"></i> <!-- on affiche la coche gris -->
          <% end %>
        <% end %>
      </div>
    <% else %>
      <div class="skill-badge tree-closed">
        <%= link_to tree_user_trees_path(@tree), method: :post, class: "badge-content-titre" do %>
          <i class="fa fa-plus"></i>
        <% end %>
        <%= link_to tree_user_trees_path(@tree), method: :post, class: "badge-content-skill" do %>
          <a href="#"><i class="fa fa-check unchecked"></i></a> <!-- on affiche la coche gris -->
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
