<div class="container">
  <!-- Modal -->
  <% current_skill = Skill.find_by_name("Duck typing") %>
  <div class="modal right fade" id="myModal<%= current_skill.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div>
          <div class="modal-title">
            <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
            <h4  id="myModalLabel2"><%= current_skill.action %></h4>
          </div>
          <div class="modal-title">
            <h4  id="myModalLabel2"><%= current_skill.name.capitalize %></h4>
          </div>
        </div>
        <div class="modal-body" id="panel-info">
          <p class="content-introduction">En programmation informatique, le duck typing (traduction: typage canard) est un style de typage dynamique de certains langages de programmation orientés objet. En duck typing, la sémantique d'un objet, c'est-à-dire son type dans le contexte où il est utilisé, est déterminée par l'ensemble de ses méthodes et de ses attributs, et non, comme il l'est habituellement, par un type défini et nommé explicitement par le programmeur dans les systèmes à typage nominatif.
          </p>
          <div class="content-introduction">
          <p>En savoir plus:</p>
          <p><a href="#"><strong><i class="fa fa-external-link" aria-hidden="true"></i> Ruby Monk: Pourquoi apprendre le Duck Typing?</strong></a></p>
          <p><a href="#"><strong><i class="fa fa-external-link" aria-hidden="true"></i> Wikipedia: Le duck typing</strong></a></p>
          <p><a href="#"><strong><i class="fa fa-external-link" aria-hidden="true"></i> Stackoverflow: Main issues</strong></a></p>
          </div>
          <div class="buy-on-amazon">
            <p>Achetez le livre sur <%= cl_image_tag "http://res.cloudinary.com/doodlid/image/upload/c_scale,w_60/v1504170810/amazon-logo_peglb5.jpg", class: "modal-image" %></p>
            <div>
              <%= cl_image_tag "http://res.cloudinary.com/doodlid/image/upload/c_scale,h_120/v1504171158/duck-typing_vp1dt9.jpg" %>
              <span class="book-price">19€</span>
            </div>
          </div>
        </div>
      </div><!-- modal-content -->
    </div><!-- modal-dialog -->
  </div><!-- modal -->
</div><!-- container -->
