<<<<<<< HEAD
=======
<% provide(:title, @tree.name.capitalize) %>
<h1><%= @tree.name %></h1>
<p>Level sur user </p>
<p>Nombre d'objectifs accomplis</p>
<% @skills.each do |skill| %>
  <h2><%= skill.name %></h2>
  <% if skill.description %>
    <h2><%= skill.description %></h2>
  <% end %>
<% end %>


>>>>>>> ced0f91727882cb8ca0b1e17092db53d04242867

<ul class="tree">
  <li>
    <div class="leaf">
      <%= render "skills/skill", skill: @root_skill %>
    </div>
    <ul>
      <% @root_skill.children.each do |skill| %>
        <%= build_tree(skill) %>
      <% end %>
    </ul>
  </li>
</ul>
