
<div id="search-nav-custom-search-input">
  <div class="search-nav-fake-input">
    <%= simple_form_for :query, url: @tree, method: :get do |f| %>
       <%= f.input :address, label: "", placeholder: 'où', :label_html => { :class => 'search-field' } %>
     <span><%= f.button :submit, class: 'btn search-nav-btn-green', id: "search-nav-button-search", value: "Rechercher" %></span>
    <% end %>
  </div>
</div>

<div class="tree-wrapper">
  <%= link_to "Contribuer", "https://rentdoll.herokuapp.com/", class: "btn btn-success btn-contribuer" %>
  <ul class="tree">
    <li>
      <div class="leaf" id="title" >
        <%= render "skills/skill", skill: @root_skill, tree: @tree %>
      </div>
      <ul>
        <% @root_skill.children.each do |skill| %>
          <%= build_tree(skill) %>
        <% end %>
      </ul>
    </li>
  </ul>
<% if @users.present? %>
  <% @users.each do |user| %>
    <div class="col-xs-12 col-md-3 text-center" >
      <%= link_to user_path(user) do %>
      <div class="card-user">
        <div class="card-profile">
          <div class="card-profile-level">
            <%= current_user.skills.where(tree: @tree).count %>
          </div>
          <div class="card-profile-avatar">
            <%= cl_image_tag user.photo.path,  width: 173, height: 173, radius: "max", crop: "fill"%>
          </div>
          <div class="card-profile-username">
            <%= user.first_name %> <%= user.last_name %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>
<% end %>
</div>



