<div class="tree-wrapper">
  <div class="tree-actions">
    <%= link_to "Contribuer", "#", class: "btn btn-success btn-contribuer" %>
    <%= cl_image_tag @user.photo.path,  width: 60, height: 60, radius: "max", crop: "fill"%>
    <span><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></span>
  </div>

  <ul class="tree">
    <li>
      <div class="leaf" id="skill-root">
        <div id="skill-root-arrow-right"><h1><</h1></div>
        <%= render "skills/skill", skill: @root_skill, tree: @tree, user: @user %>
        <div id="skill-root-arrow-left"><h1>></h1></div>
      </div>
      <ul>
        <% @root_skill.children.each do |skill| %>
            <%= build_tree(skill, @user) %>
        <% end %>
      </ul>
    </li>
  </ul>
</div>
<%= render "shared/skill_info_modal", skill: @root_skill, tree: @tree %>




