<% provide(:title, "FirstLife") %>

<!-- Personnalisation du background -->
<% content_for :head do %>
  <style>
    body {
      background-color: white;
      background-image: none;
    }
    .navbar-wagon-link {
      color: #4A4A4A;
    }
    .navbar-wagon-link:hover {
      color: #2d2d2d;
    }
  </style>
<% end %>

<div class="container wrapper">

  <div class="row talent-tree">
    <div class="col-md-12">
      <div class="title">
      <span>FirstLife</span>
      </div>
      <div class="slogan">
        <p> No more CV,<br>show your skills.</p>
      </div>

      <div class="custom-search-input">
        <div class="fake-input">
          <%= simple_form_for :query, url: users_path, method: :get do |f| %>
            <div class="search-input" id="qname">
              <p>Rechercher des talents</p>
              <%= f.input :name, label: "Rechercher des talents", placeholder: 'Développeur web, UX Design, adepte écologie...', :label_html => { :class => 'search-field' } %>
            </div>
            <div class="search-input" id="qaddress">
              <p>Où</p>
              <%= f.input :address, label: "Où", placeholder: 'Partout', :label_html => { :class => 'search-field' } %>
            </div>
            <div class="search-input" id="qlevel">
              <p>Niveau minimum</p>
              <%= f.input :level, label: "niveau", placeholder: 'Tous les niveaux', :label_html => { :class => 'search-field' } %>
            </div>
             <span><%= f.button :submit, class: 'btn btn-pink', id: "button-search", value: "Rechercher" %></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12 talents">
      <h3>Personnes de talents</h3>
      <% if @result && @search %>
      <p>Résultat de la recherche: <%= @result %></p>
      <% end %>
    </div>
  </div>

  <div class="row talent-tree">
    <% if @users.present? %>
      <% @users.each do |user| %>
        <div class="col-xs-12 col-sm-6 col-md-3 text-center" >
            <div class="card-index">
              <%= link_to user_path(user) do %>
                <div class="card-profile">
                  <div class="card-profile-level">
                  </div>
                  <div class="card-profile-avatar">
                    <%= cl_image_tag user.photo.path,  width: 173, height: 173, radius: "max", crop: "fill"%>
                  </div>
                  <div class="card-body text-center">
                    <p class="card-title"><%= user.first_name %> <%= user.last_name %></p>
                    <p class="card-contributors"><%= user.address %></p>
                  </div>
                </div>
              <% end %>
              <% @trees.each do |tree| %>
                <div class="card-skill" style="background-color: <%= tree.color %>">
                  <div class="text-left"><%= tree.name %></div>
                  <div><%= user.skills.where(tree: tree).count%></div>
                </div>
              <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Arbre de talents</h3>
      <% if @result && @search %>
      <p>Résultat de la recherche: <%= @result %></p>
      <% end %>
    </div>
  </div>

  <div class="row talent-tree">
    <% @trees.each do |tree| %>
      <div class="col-xs-8 col-md-3 col-sm-4 text-center" >
        <div class="card-index">
          <%= link_to tree_path(tree) do %>
            <% if tree.photo? %>
              <div class="card-index-image" style="background-image: url('<%= cl_image_path tree.photo.path %>')">
            <% else %>
                <div class="card-index-image" style="background-image: url('http://res.cloudinary.com/doodlid/image/upload/e_blur:1337/v1502810434/doll8_msmtic.jpg')">
            <% end %>
                </div>
          <% end %>
                <div class="card-body text-center">
                  <span class="card-title"><%= link_to tree.name, tree_path(tree) %></span>
                  <span class="card-contributors"><%= tree.contributors == nil ? "#{rand(50..3000)} contributeurs" : "#{tree.contributors} contributeurs" %> </span>
                  <span class="card-subtitle"><%= tree.skills.count > 1 ? tree.skills.count : rand(5..30) %> niveaux disponibles</span>
                </div>
              </div>
        </div>
    <% end %>
  </div>


</div>
